In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
ed_rd = pd.read_csv("D:/DS Files/DS Assingments/Excel Data Sheets/iris.csv",index_col=0)

In [6]:
ed_rd.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [7]:
ed_rd1 = ed_rd.copy()

In [8]:
ed_rd1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
label = LabelEncoder()

In [10]:
ed_rd1['Species'] = label.fit_transform(ed_rd1.iloc[:,-1])

In [11]:
ed_rd1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1             5.1          3.5           1.4          0.2        0
2             4.9          3.0           1.4          0.2        0
3             4.7          3.2           1.3          0.2        0
4             4.6          3.1           1.5          0.2        0
5             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
146           6.7          3.0           5.2          2.3        2
147           6.3          2.5           5.0          1.9        2
148           6.5          3.0           5.2          2.0        2
149           6.2          3.4           5.4          2.3        2
150           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
enc = OneHotEncoder(handle_unknown = 'ignore')

In [14]:
enc_df = pd.DataFrame(enc.fit_transform(ed_rd1[['Species']]).toarray())

In [15]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [16]:
ed_rd2 = ed_rd1.iloc[:,0:4].join(enc_df)

In [17]:
ed_rd2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2
1             5.1          3.5           1.4          0.2  1.0  0.0  0.0
2             4.9          3.0           1.4          0.2  1.0  0.0  0.0
3             4.7          3.2           1.3          0.2  1.0  0.0  0.0
4             4.6          3.1           1.5          0.2  1.0  0.0  0.0
5             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
146           6.7          3.0           5.2          2.3  0.0  0.0  1.0
147           6.3          2.5           5.0          1.9  0.0  0.0  1.0
148           6.5          3.0           5.2          2.0  0.0  0.0  1.0
149           6.2          3.4           5.4          2.3  0.0  0.0  1.0
150           5.9          3.0           5.1          1.8  NaN  NaN  NaN

[150 rows x 7 columns]

In [18]:
ed = pd.get_dummies(ed_rd)

In [19]:
ed

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

## Isolation Forest

In [20]:
from sklearn.ensemble import IsolationForest as isl

In [44]:
cd = isl(n_estimators=100,random_state=10,contamination=0.1)
cd.fit(ed)

IsolationForest(contamination=0.1, random_state=10)

In [54]:
yd = cd.predict(ed)

In [56]:
yd

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1, -1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [33]:
ed['Scores'] = cd.decision_function(ed)

In [36]:
ed['anaomly'] =cd.predict(ed.iloc[:,0:7])

In [37]:
ed

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Scores,anaomly
1,5.1,3.5,1.4,0.2,1,0,0,0.145131,1
2,4.9,3.0,1.4,0.2,1,0,0,0.124847,1
3,4.7,3.2,1.3,0.2,1,0,0,0.111256,1
4,4.6,3.1,1.5,0.2,1,0,0,0.110430,1
5,5.0,3.6,1.4,0.2,1,0,0,0.140242,1
...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,0.089469,1
147,6.3,2.5,5.0,1.9,0,0,1,0.060418,1
148,6.5,3.0,5.2,2.0,0,0,1,0.109270,1
149,6.2,3.4,5.4,2.3,0,0,1,0.039694,1
150,5.9,3.0,5.1,1.8,0,0,1,0.101583,1

In [40]:
ed[ed['anaomly']== -1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Scores,anaomly
14,4.3,3.0,1.1,0.1,1,0,0,-0.056477,-1
15,5.8,4.0,1.2,0.2,1,0,0,-0.028857,-1
16,5.7,4.4,1.5,0.4,1,0,0,-0.032876,-1
23,4.6,3.6,1.0,0.2,1,0,0,-0.011085,-1
42,4.5,2.3,1.3,0.3,1,0,0,-0.054879,-1
58,4.9,2.4,3.3,1.0,0,1,0,-0.019208,-1
61,5.0,2.0,3.5,1.0,0,1,0,-0.049690,-1
99,5.1,2.5,3.0,1.1,0,1,0,-0.036306,-1
107,4.9,2.5,4.5,1.7,0,0,1,-0.068355,-1
110,7.2,3.6,6.1,2.5,0,0,1,-0.028643,-1
118,7.7,3.8,6.7,2.2,0,0,1,-0.042978,-1
119,7.7,2.6,6.9,2.3,0,0,1,-0.065871,-1
120,6.0,2.2,5.0,1.5,0,0,1,-0.033435,-1
132,7.9,3.8,6.4,2.0,0,0,1,-0.051838,-1
135,6.1,2.6,5.6,1.4,0,0,1,-0.001203,-1